.logo-block {
	text-align: center;
	padding-top: 3rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.second-block {

}
.second-block-text {
	text-align: center;
}





@media screen and (min-width: 576px) {    }
@media screen and (min-width: 768px) {
	.logo-block {
		padding-top: 4rem;
	}
	.logo-image {
		width: 80%;
	}
} 
@media screen and (min-width: 992px) {
	.logo-image {
		width: 60%;
	}
} 
@media screen and (min-width: 1200px) {

} 
@media screen and (min-width: 1400px) {

} 
@media screen and (min-width: 1600px) {

} 

