.logo-block {
  text-align: center;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-image: linear-gradient(#EEEEEE, #FFF, #EEEEEE);
}

.post-block {

}

.post-block-text {
  font-size: 0.85em;
  padding-top: 1rem;
}

.logo-image {
  width: 60%;
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .logo-block {padding-top: 3rem;}
}

@media screen and (min-width: 992px) {
  .logo-image {width: 40%;}
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}

@media screen and (min-width: 1600px) {
}