body {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: inherit;
	text-decoration: none
}

a:hover {
	color: #5FCA10;
	text-decoration: none
}

footer {
	background-color: #2A2A2A;
	color: white;
	padding-top: 4rem;
	padding-bottom: 1.5rem;
}

#mainNav {
  position: absolute;
  border-bottom: 1px solid #EBEBEB;
  background-color: white;
}

#mainNav .navbar-brand {
}

#mainNav .navbar-toggler {
  font-size: 2rem;
  padding: 0.1rem;
  border: none;
  outline: none;
}

.navbar-toggler>.close {
    display:inline;
    font-size: 2.5rem;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;
}

.navbar-toggler:hover {
	background-color: #EBEBEB;
}

#mainNav .nav-link {
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.2rem;
}

.navbar-nav > .nav-item{
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

#main-section {
	margin-top: 50px;
}

#footer-links {
	font-size: 0.95rem;
}

#footer-disclaimer {
	font-size: 0.65rem;
	font-style: italic;
	color: #959595;
	padding-top: 4rem;
}

#footer-logo {

}

#footer-copyright {
	font-size: 0.75rem;
}

#footer-disclaimer-links {
	font-size: 0.5rem;
	color: #959595;
}

@media (min-width: 768px) {
	#mainNav {
  		position: fixed;
  	}
  	.navbar-nav > .nav-item{
    	margin-top: 0rem;
    	margin-bottom: 0rem;
	}
	#mainNav .nav-link {
		font-size: 1.05rem;
	}
  	#main-section {
  		margin-top: 30px;
  	}
  	#footer-disclaimer {
		padding-top: 0rem;
	}
}
