.main-block {
  background-image: linear-gradient(#19D600, #1BE300, #19D600);
  min-height: 100%;
  padding-top: 0.5rem;
}

.posts-block {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.main-block-text {
  flex-direction: column;
  text-align: center;
}

.main-block-text h1 {
  font-size: 2.6em;
  font-family: 'Quicksand', sans-serif;
  color: #2E2E2E;
}

#main-block-image-temp {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 45.5%;
}

#main-block-image {
  position: absolute;
  opacity:0;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  -webkit-transition: opacity 0.1s ease-out;
  -moz-transition:    opacity 0.1s ease-out;
  -o-transition:      opacity 0.1s ease-out;
  transition:         opacity 0.1s ease-out;
}

.page-path-links {
  display: flex ;
  font-size: 1.5em;
}

.page-path-links-arrow {
  padding: 0 0.25rem 0;
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .main-block-text h1 {
    font-size: 3.4em;
  }
}

@media screen and (min-width: 992px) {
  .main-block {
    padding-top: 2.15rem;
  }

  .main-block-text {
    text-align: left;
  }

  #main-block-image-temp {
    padding-top: 58.9%;
  }

  #main-block-image {
    padding-top: 6rem;
  }

  .main-block-text h1 {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .main-block-text h1 {
    font-size: 3.8em;
  }
}

@media screen and (min-width: 1400px) {
}

@media screen and (min-width: 1600px) {
}