.main-block {
	background-color: #1BE300;
	padding-top: 1rem;
	padding-bottom: 1rem;
}


.contact-info-text h1 {
	font-size: 2.5em;
}




@media screen and (min-width: 576px) {    }

@media screen and (min-width: 768px) {    } 

@media screen and (min-width: 992px) {    } 

@media screen and (min-width: 1200px) {    } 

@media screen and (min-width: 1400px) {    } 

@media screen and (min-width: 1600px) {    } 

