.main-block {
	padding-top:0.5rem;
}
.main-block-text {
	color: #000000;
	text-align: center;
}
.main-block-text h1 {
	font-size: 2.195em;
	color: #2E2E2E;
	font-family: 'Merriweather Sans', sans-serif;
}
.main-block-text p {
	font-size: 1em;
	color: #000000;
	font-family: 'Raleway', sans-serif;

}
#main-block-image {
	width:100%;
}



.post-block {

}
.post-block .container-fluid {
	padding-left: 1rem;
	padding-right: 1rem;
}
.post-block-text p {
	font-size: 1.8em;
}
.post-block-text h1 {
	font-size: 2.2em;
	font-weight: 700;
}
.post-block-text h2 {
	font-size: 1.8em;
}



@media (min-width: 576px) {
	.post-block .container-fluid {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
@media (min-width: 768px) {    
	.post-block .container-fluid {
		padding-left: 4rem;
		padding-right: 4rem;
	}
	.main-block-text h1 {
		font-size: 3.4em;
	}
	.main-block-text p {
		font-size: 1.2em;
	}
} 
@media (min-width: 992px) {
	.post-block .container-fluid {
		padding-left: 10rem;
		padding-right: 10rem;
	}
	.main-block {
		padding-top:3.5rem;
	}
	.main-block-text {
		text-align: left;
	}
} 
@media (min-width: 1200px) {
	.post-block .container-fluid {
		padding-left: 14rem;
		padding-right: 14rem;
	}
	.main-block-text h1 {
		font-size: 3.8em;
	}
	.main-block-text p {
		font-size: 1.3em;
	}
} 
@media (min-width: 1400px) {
	.post-block .container-fluid {
		padding-left: 18rem;
		padding-right: 18rem;
	}
} 

@media (min-width: 1600px) {
	.post-block .container-fluid {
		padding-left: 22rem;
		padding-right: 22rem;
	}
}