.main-block {
	padding-top:0.5rem;
}
.main-block-text {
	text-align: center;
}
.main-block-text h1 {
	font-size: 3em;
	color: #2E2E2E;
	font-family: 'Merriweather Sans', sans-serif;
}
.main-block-text p {
	font-size: 1.3em;
	color: #000000;
	font-family: 'Raleway', sans-serif;

}
#main-block-image {
	width: 100%;
	height: 100%;
}



.post-block {
	padding-bottom: 8rem;
}
.post-block img {
	width: 80%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.post-block .container-fluid {
	padding-left: 1rem;
	padding-right: 1rem;
}
.post-block-text p {
	font-size: 2em;
}
.post-block-text h1 {
	font-family: 'Hind', sans-serif;
	font-size: 3em;
}
.post-block-text h2 {
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 5rem;
	padding-right: 5rem;
	text-align: center;
	font-size: 4em;
}



@media screen and (min-width: 576px) {
	.post-block .container-fluid {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
@media screen and (min-width: 768px) {    
	.post-block .container-fluid {
		padding-left: 4rem;
		padding-right: 4rem;
	}
	.main-block-text h1 {
		font-size: 3.8em;
	}
	.main-block-text p {
		font-size: 1.4em;
	}
	.post-block img {
		width: 65%;
	}
} 
@media screen and (min-width: 992px) {
	.post-block .container-fluid {
		padding-left: 10rem;
		padding-right: 10rem;
	}
	.main-block {
		padding-top:3.5rem;
	}
	.main-block-text {
		text-align: left;
	}
} 
@media screen and (min-width: 1200px) {
	.post-block .container-fluid {
		padding-left: 14rem;
		padding-right: 14rem;
	}
} 
@media screen and (min-width: 1400px) {
	.post-block .container-fluid {
		padding-left: 18rem;
		padding-right: 18rem;
	}
	.main-block-text h1 {
		font-size: 4em;
	}
	.main-block-text p {
		font-size: 1.6em;
	}
} 

@media screen and (min-width: 1600px) {
	.post-block .container-fluid {
		padding-left: 22rem;
		padding-right: 22rem;
	}
	.main-block-text h1 {
		font-size: 4.25em;
	}
	.main-block-text p {
	}

	.post-block-text p {
		font-size: 2.25em;
	}
	.post-block-text h1 {
		font-size: 3.25em;
	}
	.post-block-text h2 {
		font-size: 4.25em;
	}
}