.main-block {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-family: 'Quicksand', sans-serif;
	color: #2E2E2E;
}

.posts-block {
	padding-bottom: 4rem;
}

#result-search-bar input {
	font-size: 3em;
	border: none;
	outline: none;
	border-bottom: 1px solid black;
}

.count-message p {
	font-size: 1.5em;
	padding-top: 0.5rem;
}
.count-message p span {
	font-size: 0.9em;
}



#result-search-bar input:focus::-moz-placeholder {
	font-family: 'Open Sans', sans-serif;
	color: #8E8E8E;
	font-size: 0.9em;
}
#result-search-bar input:focus::-webkit-input-placeholder {
	font-family: 'Open Sans', sans-serif;
	color: #8E8E8E;
	font-size: 0.9em;
}
#result-search-bar input::-webkit-search-decoration,
#result-search-bar input::-webkit-search-cancel-button {
	display: none; 
}



@media screen and (min-width: 576px) {    }
@media screen and (min-width: 768px) {
	#result-search-bar input {
		font-size: 4em;
	}
} 
@media screen and (min-width: 992px) {    } 
@media screen and (min-width: 1200px) {
	#result-search-bar input {
		font-size: 5em;
	}
} 
@media screen and (min-width: 1400px) {    } 
@media screen and (min-width: 1600px) {
	#result-search-bar input {
		font-size: 6em;
	}
} 
