{% extends 'base/base.html' %}
{% load static %}
{% block title %}About | GetMoneyStayBummy{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'blog/css/post_detail.css' %}">
<!--Use same CSS for the second block as post page.-->
<link rel="stylesheet" href="{% static 'blog/css/about.css' %}">
<link href="https://fonts.googleapis.com/css?family=Hind:600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200i&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<div class= "logo-block">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="{% static 'blog/img/main/logo.png' %}" alt="Logo Image" class="logo-image img-fluid">
      </div>
    </div>
  </div>
</div>
<div class= "post-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 post-block-text">
        <!--About Page Content Start. Use <p> <h1> <h2> and <img>'s and links -->
        <h1>About</h1>
        <p>Under construction...</p>
        <!--About Page Content End-->
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}