{% extends 'base/base.html' %}
{% load static %}
{% block title %}About | Personal Finance Blog{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'blog/css/post_detail.css' %}"> <!--Uses same CSS for the post-block as post detail page.-->
<link rel="stylesheet" href="{% static 'blog/css/about.css' %}">
<link href="https://fonts.googleapis.com/css?family=Hind:600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200i&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<div class= "logo-block">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="{% static 'blog/img/main/logo.png' %}" alt="Logo Image" class="logo-image img-fluid">
      </div>
    </div>
  </div>
</div>
<div class= "post-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 post-block-text">
        <!--About Page Content Start. Use <p> <h1> <h2> and <img>'s and links -->
        <h1>About</h1>
        <p>Hi, this website is a digital publication platform on a mission to educate the world about personal finance.</p>
        <p>In todays society, many people grow up with very little (if any) guidance on how to manage money. Too many people spend their life's working for a living, buying a bunch of stuff, and never getting closer to financial freedom.</p>
        <p>This platform is here to help people avoid this cycle by adapting simple money management philosophies.</p>
        <p>If you have any questions, feedback, or would like to see more content on any specific topic, please <a href="{% url 'contact' %}">contact us</a> and I will respond as quickly as possible. I look forward to this journey with everyone!</p>
        <!--About Page Content End-->
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}