{% extends 'base/base.html' %}
{% load static %}
{% block title %}About | GetMoneyStayBummy{% endblock %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'blog/css/about.css' %}">
{% endblock %}


{% block content %}

<div class= "logo-block">
	<div class="container">
		<div class="row">
			<div class="col">
				<img src="{% static 'blog/img/main/logo.png' %}" alt="Logo Image" class="logo-image img-fluid">
			</div>
		</div>
	</div>
</div>

<div class= "second-block">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 second-block-text">
				<h1><strong>TO-DO: Make About Page</strong></h1>
			</div>
		</div>
	</div>
</div>

{% endblock %}


{% block javascript %}
{% endblock %}