{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Get Money Stay Bummy</title>
        <link rel="stylesheet" href="{% static 'blog/vendor/bootstrap-4.3.1/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
    </head>

	<body>









		<!-- Navigation -->
		<nav class="navbar navbar-expand-sm navbar-light fixed-top py-0">
			<div class= "container px-auto">
				<a class="navbar-brand py-0" href="#">Logo</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	        		<span class="navbar-toggler-icon"></span>
	      		</button>
	      		<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
					<li class="nav-item">
					  <a class="nav-link py-0" href="#">Link</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link py-0" href="#">Link</a>
					</li>
					</ul>
				</div>
			</div>
		</nav>










		<!-- Main Section -->
		<section class="main-section">
				</br></br>
				<h1 class="title-text-about text-center mb-2 mt-4">Content Section</h1>
				</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
		</section>











		<!-- Footer Section -->
		<footer>
		<div class= "container px-auto">
			<div class = "row">
				<div class = "col-md-6 text-center text-md-left">
					<div class = "row">
						<div class = "col-xs col-md-4">
							<p>About</p>
							<p>Contact</p>
						</div>
						<div class = "col-xs col-md-8">
							<p>Link</p>
							<p>Link</p>
						</div>
					</div>
				</div>
				<div class = "col-md-6 text-center text-md-left">
					<p>Disclaimer</p>
				</div>
			</div>



			<div class = "row pt-5">
				<div class = "col-md-6 text-center text-md-left">



					<div class = "row">
						<div class = "col-md-2 text-center text-md-left">
							<p>LOGO</p>
						</div>

						<div class= "col-md-10 text-center text-md-left">
								<div class= "row">
									<div class= "col">
										<a>&copy; 2019 GetMoneyStayBummy</a>
										<p><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
									</div>
								</div>
						</div>
					</div>




				</div>










				<div class = "col-md-6 text-center text-md-left">
					<p>social media</p>
				</div>
			</div>
		</div>
		</footer>












		<!-- Bootstrap core JavaScript -->
  		<script src="{% static 'blog/vendor/bootstrap-4.3.1/js/bootstrap.min.js' %}"></script>
    </body>
</html>