{% extends 'base/base.html' %}
{% load static %}
{% block title %}Credit Cards | GetMoneyStayBummy{% endblock %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'blog/css/creditcards.css' %}">
	<link rel="stylesheet" href="{% static 'base/css/posts_list.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
{% endblock %}


{% block content %}
<div class= "main-block mb-4">
	<div class="container">
		<a href="#">
			<div class="row no-gutters px-5">
				<div class="col-lg-6 d-flex align-items-center justify-content-center pt-5 pb-3 main-block-text">
					<h1>Credit Cards</h1>
				</div>
				<div class="col-lg-6 d-flex justify-content-center">
					<img src="{% static 'blog/img/creditcards.png' %}" alt="Image" id="main-block-image">
				</div>
			</div>
		</a>
	</div>
</div>

{% include 'base/posts_list.html' %}



{% endblock %}


{% block javascript %}
{% endblock %}