{% extends 'base/base.html' %}
{% load static %}
{% block title %}GetMoneyStayBummy{% endblock %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'blog/css/homepage.css' %}">
	<link rel="stylesheet" href="{% static 'base/css/posts_list.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}
<div class= "main-block">
	<div class="container">
		<a href="#">
			<div class="row px-5">
				<div class="col-lg-6 d-flex align-items-center justify-content-center pt-5 pb-2 main-block-text">
					<h1><span>It Doesnt Matter How Much Money You Make If You Give It All Away</span></h1>
					<p>My mission with this blog is to encourage people to focus on building net worth</p>
				</div>
				<div class="col-lg-6 d-flex justify-content-center">
					<img src="{% static 'blog/img/money.jpg' %}" alt="Image" id="main-block-image">
				</div>
			</div>
		</a>
	</div>
</div>

<div class="pt-3 featured-title">
	<h1>Featured Articles</h1>
</div>
{% include 'base/posts_list.html' %}



{% endblock %}


{% block javascript %}
{% endblock %}