{% extends 'base/base.html' %}
{% load static %}
{% block title %}GetMoneyStayBummy{% endblock %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'blog/css/homepage.css' %}">
{% endblock %}


{% block content %}
<div class= "main-block">
	<div class="text-center">
		</br></br></br></br></br></br></br></br><p>MAIN BLOCK</p></br></br></br></br></br></br></br></br>
	</div>
</div>


<div class= "second-block">
	<div class="text-center">
		</br></br></br></br></br></br></br></br></br></br><p>SECOND BLOCK</p></br></br></br></br></br></br></br></br></br></br></br>
	</div>
</div>
{% endblock %}


{% block javascript %}{% endblock %}