{% extends 'base/base.html' %}
{% load static %}
{% block title %}GetMoneyStayBummy{% endblock %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'blog/css/homepage.css' %}">
{% endblock %}


{% block content %}
<div class= "main-block">
	<div class="text-center">
		</br></br></br></br></br></br></br></br><p>GETMONEYSTAYBUMMY meaning article link</p></br></br></br></br></br></br></br></br>
	</div>
</div>


<div class= "second-block">
	<div class="container">
		<div class="row">
			<div class="col post-box">
				<p>Post1</p>
			</div>
			<div class="col post-box">
				<p>Post2</p>
			</div>
			<div class="col post-box">
				<p>Post3</p>
			</div>
		</div>
		<div class="row">
			<div class="col post-box">
				<p>Post4</p>
			</div>
			<div class="col post-box">
				<p>Post5</p>
			</div>
			<div class="col post-box">
				<p>Post6</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block javascript %}
{% endblock %}