{% extends 'base/base.html' %}
{% load static %}
{% block title %}Disclaimer | Personal Finance Blog{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'blog/css/legal.css' %}">
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<div class= "main-block">
  <!-- Disclaimer Section -->
  <section id="disclaimer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>Disclaimer</h1>
          <h2>DISCLAIMER</h2>
          <p>The information on this website is for entertainment purposes only and does not constitute financial, investment, tax, accounting, or legal advice. The author(s) are not financial/investment advisors, brokers, or dealers. For financial or investment advice, please seek the counsel of a financial/investment advisor(s), and conduct your own due diligence.</p>
          <h2>YOU SHOULD NOT ACT OR REFRAIN FROM ACTING BASED ON ANY INFORMATION ON THIS WEBSITE</h2>
          <p>The author(s) of this blog are solely sharing their personal experience and opinions; therefore, all strategies, tips, suggestions, and recommendations shared are solely for entertainment purposes. There are financial risks associated with any investing strategy.</p>
          <p>While the author(s) attempt to conduct reasonably thorough research about the information provided to ensure its accuracy;  they cannot guarantee that the information on this website has not been outdated or otherwise rendered incorrect by subsequent research, legislation, or other changes in the law. The publishers, authors, and all affiliated parties and entities of this website are not responsible for any errors or omissions.</p>
          <h2>AFFILIATE DISCLOSURE</h2>
          <p>Some of the links on this webpage are affiliate links, meaning, at no additional cost to you, we may earn a commission if you click through and make a purchase and/or subscribe. However, this does not impact our opinions and comparisons.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Privacy Policy Section -->
  <section id="privacy-policy">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>Privacy Policy</h1>
          <h2>Information from Children</h2>
          <p>Blog does not collect or maintain information from users actually known to be under the age of 13, and no part of our web sites are structured to attract anyone under the age of 13.</p>
          <h2>Links to Other Web Sites</h2>
          <p>Blog may contain links to other web sites. Blog is not responsible for the privacy practices or the content of those other Web sites.</p>
          <h2>Use of Cookies</h2>
          <p>Blog, or its third party vendors, collects non-identifiable and personal information through the use of various technologies, including “cookies.” A cookie is an alphanumeric identifier that a Web site can transfer to customer’s hard drive through customer’s browser. The cookie is then stored on customer’s computer as an anonymous tag that identifies the customer’s computer, but not the customer. Cookies may be sent by Blog or its third-party vendors. Customer can set its browser to notify customer before a cookie is received, giving an opportunity to decide whether to accept the cookie. Customer may also set its browser to turn off cookies; however, some Web sites may not then work properly.</p>
          <h2>Collection of Non-Identifiable Information</h2>
          <p>Blog may collect non-identifiable information from user visits in order to provide better customer service. Examples of such collecting include: traffic analysis, such as tracking of the domains from which users visit, or tracking numbers of visitors; measuring visitor activity on the Blog Site; Web site and system administration; user analysis; and business decision making. Such information is sometimes known as “clickstream data.” Blog or its contractors may use this data to analyze trends and statistics.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Terms of Use Section -->
  <section id="terms-of-use">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>Terms of Use</h1>
          <h2>Electronic Communications</h2>
          <p>Visiting Blog Site or sending emails to Blog constitutes electronic communications. You consent to receive automatic notifications, and you agree that all agreements, notices, disclosures and other communications that we provide to you electronically, via email and on the Blog Site, satisfy any legal requirement that such communications be in writing.</p>
          <h2>No Unlawful or Prohibited Use/Intellectual Property</h2>
          <p>You are granted a non-exclusive, non-transferable, revocable license to access and use Blog Site strictly in accordance with these terms of use. As a condition of your use of the Blog Site, you warrant that you will not use the Blog Site for any purpose that is unlawful or prohibited by these Terms. You may not use the Blog Site in any manner which could damage, disable, overburden, or impair the Blog Site or interfere with any other party’s use and enjoyment of the Blog Site. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through the Blog Site.</p>
          <p>All content included as part of the Service, such as text, graphics, logos, images, as well as the compilation thereof, and any software used on the Blog Site, is the property of Blog or its suppliers and protected by copyright and other laws that protect intellectual property and proprietary rights. You agree to observe and abide by all copyright and other proprietary notices, legends or other restrictions contained in any such content and will not make any changes to that.</p>
          <p>You will not modify, publish, transmit, reverse engineer, participate in the transfer or sale, create derivative works, or in any way exploit any of the content, in whole or in part, found on the Blog Site. Blog content is not for resale. Your use of the Blog Site does not entitle you to make any unauthorized use of any protected content, and in particular, you will not delete or alter any proprietary rights or attribution notices in any content. You will use protected content solely for your personal use and will make no other use of the content without the express written permission of Blog and the copyright owner. You agree that you do not acquire any ownership rights in any protected content. We do not grant you any license, express or implied, to the intellectual property of Blog or our licensors except as expressly authorized by these Terms.</p>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}