{% extends 'base/base.html' %}
{% load static %}
{% block title %}Personal Finance | Personal Finance Blog{% endblock %}
{% block extra_head %}
<style>.interviews-active, .more-active {border-bottom: 1px solid #47A600;}</style>
<link rel="stylesheet" href="{% static 'blog/css/category_page.css' %}">
<link rel="stylesheet" href="{% static 'base/css/posts_list.css' %}">
<link rel="stylesheet" href="{% static 'base/css/list_pagination.css' %}">
<link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
{% endblock %}
{% block content %}
<div class= "main-block">
  <div class="container">
    <div class="row no-gutters px-5">
      <div class="col-lg-6 d-flex align-items-center justify-content-center pt-5 pb-3 main-block-text">
        <h1>Personal Finance</h1>
      </div>
      <div class="col-lg-6 d-flex justify-content-center">
        <div id="main-block-image-temp"></div>
        <img id="main-block-image" onload="fadeImageIn(this);" src="{% static 'blog/img/main/personal-finance.png' %}" alt="Image">
      </div>
    </div>
  </div>
</div>
<div class="posts-block">
  <div class="container pb-3">
    <div class="row page-path-links">
      <a href="{% url 'homepage' %}">Home</a>
      <div class="page-path-links-arrow">></div>
      <div>Personal Finance</div>
    </div>
  </div>
  {% include 'base/posts_list.html' %}
  {% include 'base/list_pagination.html' %}
</div>
{% endblock %}
{% block javascript %}
{% endblock %}