{% extends 'base/base.html' %}
{% load static %}
{% load textfield_img_tags %}
{% block title %}{{ post.title }} | GetMoneyStayBummy{% endblock %}
{% block extra_head %}
<!-- for facebook plugins ------------------------------------------>
<meta property="fb:app_id"		  content="465923610807576" />
<meta property="og:url"           content="{{ request.build_absolute_uri }}" />
<meta property="og:type"          content="article" />
<meta property="og:title"         content="{{ post.title }}" />
<meta property="og:description"   content="Our Philosophy Is A Simple One, Get Money And Stay Bummy" />
<meta property="og:image"         content="{{request.scheme}}://{{request.get_host}}{{ post.main_image.url }}" />
<!------------------------------------------------------------------>
<link rel="stylesheet" href="{% static 'blog/css/post_detail.css' %}">
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Hind:600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600i&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<!-- For Facebook Plugins SDK-->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>
<!-------------------------->
<div class= "main-block pb-5">
  <div class="container">
    <div class="row px-5">
      <div class="col-lg-6 my-auto pt-5 pb-2 main-block-text">
        <h1>{{ post.title }}</h1>
        <p>{{ post.get_category_display }}</p>
        <h5>{{ post.published_date | date:"M d, Y" }}</h5>
      </div>
      <div class="col-lg-6">
        <img src="{{ post.main_image.url }}" alt="Image" id="main-block-image">
      </div>
    </div>
  </div>
</div>
<div class= "post-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col post-block-text">
        <hr class="divider mt-2 mb-4">
        {{ post.body_html | textfield_img_tags:post | safe }}
        <hr class="divider mt-4 mb-4">
      </div>
    </div>
    <div class="row">
      <div class="col text-center fb-share-buttons">
        <div class="embed-responsive embed-responsive-21by9">
          <div class="fb-like embed-responsive-item" data-href="https://www.getmoneystaybummy.com/post/{{ post.pk }}/{{ post.slug }}" data-width="90" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center fb-post-comment-header">
        <h1>Have questions or feedback?</br>Leave a comment!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <div class="fb-comments" data-href="https://www.getmoneystaybummy.com/post/{{ post.pk }}/{{ post.slug }}" data-width="100%" data-numposts="8" data-order-by="social"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}