{% extends 'base/base.html' %}
{% load static %}
{% block title %}Search Results | GetMoneyStayBummy{% endblock %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'blog/css/search.css' %}">
	<link rel="stylesheet" href="{% static 'base/css/posts_list.css' %}">
{% endblock %}

{% block content %}

<div class= "main-block">
	<form id ="result-search-bar" action="{% url 'search' %}" method="get">
		<input name="query" type="search" autocomplete="off" value="{{ query }}" placeholder="Search articles...">
	</form>
</div>

{% include 'base/posts_list.html' %}

{% endblock %}

{% block javascript %}
{% endblock %}