.search-bar input {
  outline: none;
}

.search-bar input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
}

.search-bar input::-webkit-search-decoration, .search-bar input::-webkit-search-cancel-button {
  display: none;
}

.search-bar input[type=search] {
  background: #FFF url("../img/search-bar-icon.svg") no-repeat 9px center;
  border: solid 1px #FFF;
  padding: 12px 10px 12px 32px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.search-bar input[type=search]:focus {
  width: 150px;
  background-color: #FFF;
  border-color: #66CC75;
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}

.search-bar input[type=search] {
  width: 5px;
  height: 5px;
  padding-left: 18px;
  color: transparent;
  cursor: pointer;
}

.search-bar input[type=search]:hover {
  background-color: #FFF;
}

.search-bar input[type=search]:focus {
  padding-left: 36px;
  color: #2E2E2E;
  cursor: auto;
  font-size: 1.25em;
}

.search-bar input:-moz-placeholder {
  color: transparent;
}

.search-bar input::-webkit-input-placeholder {
  color: transparent;
}

.search-bar input:focus::-moz-placeholder {
  color: #8E8E8E;
}

.search-bar input:focus::-webkit-input-placeholder {
  color: #8E8E8E;
}
