{% load static %}
<div class="container pb-5">
	<div class="row">
		<div class="col-6 col-md-4">
			<div class="box">
				<img class="box-image" src="{% static 'blog/img/money.jpg' %}" alt="Image" style="width:100%">
				<div class="box-content">
					<h1>GetMoney/StayBummy</h1>
					<p>Post content summary</p> 
				</div>
			</div>
		</div>
		<div class="col-6 col-md-4">
			<div class="box">
				<img class="box-image" src="{% static 'blog/img/money.jpg' %}" alt="Image" style="width:100%">
				<div class="box-content">
					<h1>GetMoney/StayBummy</h1>
					<p>Post content summary</p> 
				</div>
			</div>
		</div>
		<div class="col-6 col-md-4">
			<div class="box">
				<img class="box-image" src="{% static 'blog/img/money.jpg' %}" alt="Image" style="width:100%">
				<div class="box-content">
					<h1>GetMoney/StayBummy</h1>
					<p>Post content summary</p> 
				</div>
			</div>
		</div>
		<div class="col-6 col-md-4">
			<div class="box">
				<img class="box-image" src="{% static 'blog/img/money.jpg' %}" alt="Image" style="width:100%">
				<div class="box-content">
					<h1>GetMoney/StayBummy</h1>
					<p>Post content summary</p> 
				</div>
			</div>
		</div>
		<div class="col-6 col-md-4">
			<div class="box">
				<img class="box-image" src="{% static 'blog/img/money.jpg' %}" alt="Image" style="width:100%">
				<div class="box-content">
					<h1>GetMoney/StayBummy</h1>
					<p>Post content summary</p> 
				</div>
			</div>
		</div>
		<div class="col-6 col-md-4">
			<div class="box">
				<img class="box-image" src="{% static 'blog/img/money.jpg' %}" alt="Image" style="width:100%">
				<div class="box-content">
					<h1>GetMoney/StayBummy</h1>
					<p>Post content summary</p> 
				</div>
			</div>
		</div>
	</div>
</div>