{% load static %}
<div class="container pb-3">
  <div class="row">
    {% for post in posts %}
    <div class="col col-6 col-md-4">
      <a href="{% url 'post-detail' pk=post.pk slug=post.slug %}">
        <div class="box">
          <div class="box-image-container">
            <img class="box-image" onload="fadeImageIn(this);" src="{{ post.main_image.url }}" alt="Posts Image">
          </div>
          <div class="box-content">
            <h1>{{ post.get_category_display }}</h1>
            <p><span>{{ post.title }}</span></p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
